Enterprise/DataServices/DALSvc.Test/Service References/AddrLoc/AddressLocationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52709/AddressLocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" />
  <xs:element name="GetAllAddressesLocationRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAddressesLocationRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" minOccurs="0" name="GetAllAddressesLocationRecordsResult" nillable="true" type="q1:ArrayOfAddressLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressLocationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressLocationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" minOccurs="0" name="GetAddressLocationByIdResult" nillable="true" type="q2:AddressLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" minOccurs="0" name="addressLocation" nillable="true" type="q3:AddressLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" minOccurs="0" name="addressLocation" nillable="true" type="q4:AddressLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>