Enterprise/DataServices/DALSvc.Test/Service References/AddrLoc/AddressLocationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Enterprise.DAL.Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddressLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressLocation" nillable="true" type="tns:AddressLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressLocation" nillable="true" type="tns:ArrayOfAddressLocation" />
  <xs:complexType name="AddressLocation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressID" type="xs:int" />
          <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GeoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lattitude" type="xs:float" />
          <xs:element minOccurs="0" name="Longitude" type="xs:float" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressLocation" nillable="true" type="tns:AddressLocation" />
  <xs:complexType name="ModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityNumber" type="xs:short" />
      <xs:element minOccurs="0" name="SqlDatabase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackChanges" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelBase" nillable="true" type="tns:ModelBase" />
</xs:schema>