Barbados/Applications/MVC/ClientDashboard/ClientDashboard/Service References/reoSvc/Enterprise.Core.ViewModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" />
  <xs:complexType name="REOPropertyInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="AccessInfo" nillable="true" type="q1:AccessInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="AddlPropInfo" nillable="true" type="q2:AdditionalPropertyInfo" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="AssetInfo" nillable="true" type="q3:AssetInfo" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="AssetMgrInfo" nillable="true" type="q4:Person" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="BrokerInfo" nillable="true" type="q5:Person" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="InitialServices" nillable="true" type="q6:InitialServices" />
      <xs:element minOccurs="0" name="PageTitle" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="PropertyHistory" nillable="true" type="q7:ArrayOfPropertyHistoryItem" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Enterprise.Core.ViewModels.Common" minOccurs="0" name="UtilStatus" nillable="true" type="q8:ArrayOfUtilityStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="REOPropertyInfo" nillable="true" type="tns:REOPropertyInfo" />
</xs:schema>